@model Majorsilence.Vpn.Site.Models.AdminViewLayout
@{
    Layout = "~/Views/Vpn.cshtml";
    
	if (Model.IsAdmin == false)
	{
		this.ViewContext.HttpContext.Response.Redirect("/noaccess/", false);
		return;
	}
}
	<br />

<div class="container">
	@RenderBody()
</div>

