@{
    Layout = "~/Views/Vpn.cshtml";

    if (Majorsilence.Vpn.Site.Helpers.SessionVariables.Instance.LoggedIn == false)
    {
        this.ViewContext.HttpContext.Response.Redirect("/noaccess/", false);
        return;
    }
}
	<br />

<div class="container">
	@RenderBody()
</div>

