@{
    Layout = "~/Views/Vpn.cshtml";
    
	if (VpnSite.Helpers.SessionVariables.Instance.LoggedIn == false)
	{
		Response.Redirect("/noaccess/", false);
		return;
	}
}
	<br />

<div class="container">
	@RenderBody()
</div>

