@model Majorsilence.Vpn.Site.Models.AdminVpnServers
@{
    ViewBag.Title = "Admin VPN Servers";
    Layout = "~/Views/AdminView.cshtml";
}

@{
	<h1>VPN Servers</h1>
	<a href="/adminvpnserversedit?id=new&address=&port=&desc=&region=&active=">Add New VPN Server</a>
	<br /><br />
	var html = new System.Text.StringBuilder();
	html.Append("<table class=\"table\">");
	html.Append("<tr>");
	html.Append("<th>ID</th>");
	html.Append("<th>Address</th>");
	html.Append("<th>Vpn Port</th>");
	html.Append("<th>Description</th>");
	html.Append("<th>Region Id</th>");
	html.Append("<th>Active</th>");
	html.Append("</tr>");



	foreach (var vpn in @Model.VpnServersList)
	{
	    html.Append("<tr>");

	    html.Append("<td>");
	    html.Append(string.Format("<a href=\"/adminvpnserversedit?id={0}&address={1}&port={2}&desc={3}&region={4}&active={5}\">{0}</a>",
	                              vpn.Id, Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(vpn.Address),
	                              vpn.VpnPort, Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(vpn.Description),
	                              vpn.RegionId, vpn.Active? "checked":""));
	    html.Append("</td>");

	    html.Append("<td>");
	    html.Append(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(vpn.Address));
	    html.Append("</td>");

	    html.Append("<td>");
	    html.Append(vpn.VpnPort);
	    html.Append("</td>");

	    html.Append("<td>");
	    html.Append(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(vpn.Description));
	    html.Append("</td>");

	    html.Append("<td>");
	    html.Append(vpn.RegionId);
	    html.Append("</td>");

	    html.Append("<td>");
	    html.Append(vpn.Active);
	    html.Append("</td>");

	    html.Append("</tr>");
	}



	html.Append("</table>");

	@Html.Raw(html.ToString());

}