@model Majorsilence.Vpn.Site.Models.CustomViewLayout
@{
    Layout = "~/Views/Vpn.cshtml";

    if (Model.SessionVariables.LoggedIn == false)
    {
        ViewContext.HttpContext.Response.Redirect("/noaccess/", false);
        return;
    }
}
<br/>

<div class="container">
    @RenderBody()
</div>