@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/GeneralLayout.cshtml";
    
    HttpContext.Current.Session.Contents.RemoveAll();
}

<h1>@Majorsilence.Vpn.Site.Resources.Main.MenuLogout</h1>

You are now logged out.

