@{
    ViewBag.Title = "Invite Others";
    Layout = "~/Views/LoggedInView.cshtml";
}

<h2>Invite Your Friends</h2>

<form method="post" action="/invite/sendmail" role="form">

    <p>
        Email address to invite:
        <input id="emailladdress"
               name="emailladdress" type="text" class="form-control"/>
    </p>
    <p>
        <input type="submit" value="Send" class="form-control"/>
    </p>
</form>