@{
    ViewBag.Title = "Security";
    Layout = "~/Views/GeneralLayout.cshtml";
}

 <h1>Security Overview</h1>

<h2>Communications</h2>

<p>All private data exchanged with Majorsilence is always transmitted over SSL, SSH, or an encrypted VPN connection.</p> 

<h2>Employee access</h2>

<p>No Majorsilence employees ever access private customer data unless required to for support reasons.   
 Support staff does not have direct access to your accounts or data. 
When working a support issue we do our best to respect your privacy as much as possible, 
 we only access the files and settings needed to resolve your issue. </p>


<h2>Credit card safety</h2>

<p>When you sign up for a paid account on Majorsilence VPN, we do not store any of your card information on our servers. 
 It's handed off to <a href="https://stripe.com/ca">Stripe</a>, a company dedicated to storing your sensitive data on PCI-Compliant servers.</p>


<h2>Contact Us</h2>

<p>Have a question, concern, or comment about GitHub security? Please contact us.</p>