@{
    ViewBag.Title = "Error Report";
    Layout = "~/Views/AdminView.cshtml";
}

<h2>Error Report</h2>
@{
    var html = new System.Text.StringBuilder();
    html.AppendLine("<table class=\"table\">");
    html.AppendLine("<tr>");
    html.Append("<th>ID</th>");
    html.Append("<th>Message</th>");
    html.Append("<th>Recursive Stack Trace</th>");
    html.Append("<th>Stack Trace</th>");
    html.Append("<th>Time Created</th>");
    html.AppendLine("</tr>");

    var errors = new Majorsilence.Vpn.Logic.Admin.ErrorReports();
    foreach (var err in errors.RetrieveAll())
    {
        html.AppendLine("<tr>");

        html.AppendLine("<td>");
        html.AppendLine(err.Id.ToString());
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(err.Message));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(err.RecursiveStackTrace));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(err.StackTrace));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(err.TimeCreated.ToString()));
        html.AppendLine("</td>");


        html.AppendLine("</tr>");
    }


    html.AppendLine("</table>");


    @Html.Raw(html.ToString())

}