@{
    ViewBag.Title = "Admin Index";
    Layout = "~/Views/AdminView.cshtml";
}

<h1>Admin page</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/adminregions">Edit Regions</a>
    </li>
    <li class="list-group-item">
        <a href="/adminvpnservers">Edit VPN Servers</a>
    </li>
    <li class="list-group-item">
        <a href="/admininvitebetausers">Invite Beta Users</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/siteinfo">Site Info</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/users">Admin Users</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/errorreport">Error Reports</a>
    </li>
</ul>