@model Majorsilence.Vpn.Site.Models.Users
@{
    ViewBag.Title = "Admin Users";
    Layout = "~/Views/AdminView.cshtml";
}

@{
    var status = ViewData["status"]?.ToString();
    if (status != null)
    {
        string msg;
        msg = Majorsilence.Vpn.Site.Helpers.Message.CreateMessage(status, "Changes Saved", Majorsilence.Vpn.Site.Helpers.Message.MessageType.Information);

        @Html.Raw(msg)
        ;
    }
}



@{
    <h2>Users</h2>


    var html = new System.Text.StringBuilder();
    html.AppendLine("<table class=\"table\">");
    html.AppendLine("<tr>");
    html.Append("<th>ID</th>");
    html.Append("<th>Is Admin</th>");
    html.Append("<th>Toggle Admin</th>");
    html.Append("<th>Is Beta User</th>");
    html.Append("<th>Email</th>");
    html.Append("<th>First Name</th>");
    html.Append("<th>Last Name</th>");
    html.Append("<th>Stripe Customer Account</th>");
    html.Append("<th>Customer Stripe Subscription</th>");
    html.Append("<th>Remove Account</th>");
    html.AppendLine("</tr>");


    foreach (var user in @Model.UserList)
    {
        html.AppendLine("<tr>");

        html.AppendLine("<td>");
        html.AppendLine(user.Id.ToString());
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(user.Admin.ToString());
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(string.Format(" <button type=\"button\" onclick=\"toggleadmin({0});\">Toggle</button>", user.Id.ToString()));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(user.IsBetaUser.ToString());
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(user.Email));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(user.FirstName));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(user.LastName));
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(user.StripeCustomerAccount));
        if (user.StripeCustomerAccount.Trim() != "")
        {
            html.AppendLine(string.Format(" <button type=\"button\" onclick=\"removestripeaccount({0});\">Clear</button>", user.Id.ToString()));
        }
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(Majorsilence.Vpn.Site.Helpers.GlobalHelper.HtmlEncode(user.StripeSubscriptionId));
        if (user.StripeSubscriptionId.Trim() != "")
        {
            html.AppendLine(string.Format(" <button type=\"button\" onclick=\"removesubscription({0});\">Clear</button>", user.Id.ToString()));
        }
        html.AppendLine("</td>");

        html.AppendLine("<td>");
        html.AppendLine(string.Format(" <button type=\"button\" onclick=\"proceed({0});\">Remove Account</button>", user.Id.ToString()));
        html.AppendLine("</td>");

        html.AppendLine("</tr>");
    }


    html.AppendLine("</table>");


    @Html.Raw(html.ToString())

}
<script type="text/javascript">

	function toggleadmin(userid)
	{
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', '/admin/toggleadmin?id=' + userid);
		form.style.display = 'hidden';
		document.body.appendChild(form)
		form.submit();
	}

	function removestripeaccount(userid)
	{
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', '/admin/removestripeaccount?id=' + userid + '&removeaccount=yes');
		form.style.display = 'hidden';
		document.body.appendChild(form)
		form.submit();
	}

	function removesubscription(userid)
	{
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', '/admin/removesubscription?id=' + userid + '&removeaccount=yes');
		form.style.display = 'hidden';
		document.body.appendChild(form)
		form.submit();
	}

	function proceed (userid) {
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', '/admin/removeuser?id=' + userid + '&removeaccount=yes');
		form.style.display = 'hidden';
		document.body.appendChild(form)
		form.submit();
	}
</script>