@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/GeneralLayout.cshtml";
}

@{
	string attemptedemail = VpnSite.Helpers.GlobalHelper.RequestEncodedParam("email");
	if (attemptedemail == null)
	{
		attemptedemail="";
	}
}

<h1>@Resources.Main.ResetPassword</h1>
<form name="input" method="post" class="form">
    <b>@Resources.Main.Email:</b>
    	@{	 
			
	 		if(attemptedemail != "")
  			{
		    	<input type="email" name="email" id="email" class="form-control" value="@(attemptedemail)" /><br />
		    }
		    else
		    {
		    	<input type="email" name="email" id="email" placeholder="Email Address" class="form-control" /><br />
		    }
		}
    <input type="submit" value="Submit" id="resetmypassword" class="btn btn-success" />
</form>

 <script src="/assets/javascript/passwordreset.js" type="text/javascript"></script>
 <script>
	@{
		<text>   
			$(document).ready(function () {
				PasswordReset.Init();
			});
			 
		</text>
	}

</script>

