@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    You have reached the api.  Please see the documentation for more details.
</body>
</html>

