@model Majorsilence.Vpn.Site.Models.Privacy
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<h1>@Majorsilence.Vpn.Site.Resources.Main.FooterPPolicy</h1>

@Html.Raw(Model.CurrentPrivacy.Policy)

