@{
    ViewBag.Title = "Services";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<h2>What is a <a href="http://en.wikipedia.org/wiki/Virtual_private_network" target="blank">VPN</a></h2>

<p>
    It is a virtual private network. It creates a secure (encrypted) channel between your computer and
    the VPN server. This prevents people and organizations from spying on what you are doing online.
    It can also help hide the source of the person doing the web browsing.
</p>


<h2>What can a VPN do for me</h2>
<ul class="list-group">
    <li class="list-group-item">Secure my iPhone public wifi connections</li>
    <li class="list-group-item">Secure my iPhone data plan connections</li>
    <li class="list-group-item">Secure my iPad public wifi connections</li>
    <li class="list-group-item">
        <a href="/knowledgebase?code=pptpandroid">Secure my android phone public wifi connections</a>
    </li>
    <li class="list-group-item">
        <a href="/knowledgebase?code=pptpandroid">Secure my android phone data plan connections</a>
    </li>
    <li class="list-group-item">
        <a href="/knowledgebase?code=pptpandroid">Secure my android tablet public wifi connections</a>
    </li>
    <li class="list-group-item">
        <a href="/knowledgebase?code=pptpwindows">Secure my laptop public wifi connections</a>
    </li>
    <li class="list-group-item">
        <a href="/setup">Secure any wired or wireless connection</a>
    </li>
</ul>

<h2>VPN Services</h2>

<p>
    Majorsilence VPN provides vpn service. It specifically only provides
    <a href="http://en.wikipedia.org/wiki/Point-to-Point_Tunneling_Protocol" target="blank">PPTP</a> and
    <a href="http://en.wikipedia.org/wiki/OpenVPN" target="blank">OpenVPN</a> vpns. If you want another
    type of vpn you should look into another vpn service provider.
</p>


<div class="row">
    <div class="section col-md-6">
        <h2>
            <a href="http://en.wikipedia.org/wiki/Point-to-Point_Tunneling_Protocol" target="blank">PPTP</a>
        </h2>
        You should use this if you are not serious about your security but would like to have some. Good to protect
        yourself from non serious intercepts of your data.
    </div>

    <div class="section col-md-6">
        <h2>
            <a href="http://en.wikipedia.org/wiki/OpenVPN" target="blank">OpenVPN</a>
        </h2>
        Use OpenVPN when you want to know your connection is secure.
    </div>
</div>