@{
    ViewBag.Title = "Support";
    Layout = "~/Views/LoggedInView.cshtml";
}

<h2>Support Request</h2>


<form method="post" action="/support/submit">
	<div class="form-group">		
        <b>Subject:</b> <input type="text" class="form-control" name="subject" id="subject" placeholder = "Subject" /><br />
        <b>Message:</b><textarea class="form-control" rows="6" name="supportrequest" id="supportrequest" placeholder="Support Request"></textarea> <br />
        <input type="submit" value="Submit" id="createuser" class="btn btn-primary btn-lg" />
    </div>
</form>
