@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/GeneralLayout.cshtml";

    this.ViewContext.HttpContext.Session.Clear();
}

<h1>@Localizer["MenuLogout"]</h1>

You are now logged out.

