@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<div>
	<h2>Majorsilence VPN</h2>
	<p>Was started in 2014 as a service providing online security against data sniffers.  It was designed specifically to be simple to use and provide either 
	basic or total security of transferred data.
        </p>

        <p>
From the very beginning,  Majorsilence VPN has focused on quality, freedom and choice of connectivity. Its service includes a 
        spectrum of countries where the user can connect without limitations no matter how many times you switch between multiple locations. 
        All of our VPN locations have specialties that empower our customers. Needless to say, there are locations where Expats love to stream online 
        TV from abroad no matter what country they live in. Some customers that specialize in marketing and SEO love using multiple locations for 
        effectiveness of their campaigns. Online gamers want to access multi-player and discrete games restricted by Geo location and other countless uses.</p>

        <p>
As always, we welcome feedback, suggestions, ideas and of course criticism that can make our service even better. Come join us and we bet you will be 
        amazed by the level of service and quality of support.</p>

        <p>Majorsilence VPN is operated by Canada based Majorsilence Solutions Inc.</p>

</div>

