@{
    ViewBag.Title = "Login";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<h1>Login</h1>

<form name="input" method="post">
<div class="form-group">		
    <b>@Resources.Main.Email:</b>
    <input type="email" id="email_login2" class="form-control" placeholder="Email Address" autocorrect="off" autocapitalize="off" /><br />
    <b>@Resources.Main.Password:</b>
    <input type="password" id="password_login2" class="form-control" placeholder="Password" autocorrect="off" autocapitalize="off" /><br />
    <input type="submit" id="logmein2" value="Submit" class="btn btn-primary btn-lg" />
    </div>
</form>

<a href="/resetpassword">@Resources.Main.ForgotPassword</a> | <a href="/signup">@Resources.Main.CreateAccount</a>


 <script src="/assets/javascript/login.js" type="text/javascript"></script>
 <script type="text/javascript">
         $(function () {
             Login.Init();
         });
  </script>

